body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.global{
  height: 70vh;
  display: flex;
  justify-content:center;
  align-items: center;
}
.wrapper__login{
  box-sizing: border-box;
  text-align: center;
  flex-direction: column;
  display: flex;
}
.wrapper__login input{
  min-width:300px;
  font-size: 2rem;
  border: 2px solid  #9932CC;
}
.wrapper__login label {
  display:block;
 margin:1rem;
  text-transform: uppercase;
}
.wrapper__login button{
  width:100%;
  outline: none;
  cursor: pointer;
  margin-top:20px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #9932CC;
  text-transform: uppercase;
}
.wrapper__login button:hover{
  color:#fff;
  transition: 0.3s all;
  border:none;
  background: rgba(248,80,50,1);/* Old Browsers */
  background: linear-gradient(135deg, rgba(248,80,50,1) 0%, rgba(245,12,229,1) 19%, rgba(240,47,23,1) 76%, rgba(231,56,39,1) 100%);/* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );/* IE6-9 fallback on horizontal gradient */
}
.wpapper__main__button{
  right:30px;
  position: absolute;
}

.active{
border: none;
outline:none;
cursor:pointer;
margin-top:10px;
margin-left:5px;
margin-right:5px;
border-radius:50%;
 margin:5px;
width:30px;
height:30px;
  color:#fff;
  background-color: red;
}
/* .wrapper12355{
  width:275px;
  overflow: hidden;
display: flex;
} */
.buttons{
outline:none;
border:2px solid #9932CC;
cursor:pointer;
margin-top:10px;
margin-left:5px;
margin-right:5px;
border-radius:50%;
 margin:5px;
width:30px;
height:30px;
background-color:transparent;

}
.pagination{
  margin-top:20px;
}
::placeholder{
color:#fff;
}